body {
  overflow-x: hidden;
}

.use-keyboard-input {
  display: block;
  margin: 30px auto;
  padding: 10px;
  font-size: 20px;
  height: calc(100vh - 380px);
  min-height: 300px;
  resize: none;
}

.keyboard {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px 0;
  background: #004134;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  user-select: none;
  transition: bottom 0.4s;
}

.keyboard--hidden {
  bottom: -100%;
}

.keyboard__keys {
  text-align: center;
}

.keyboard__key {
  height: 45px;
  width: 6%;
  max-width: 90px;
  margin: 3px;
  border-radius: 4px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  font-size: 1.05rem;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.keyboard__key:focus {
  background: rgba(255, 255, 255, 0.12);
}

.keyboard__key--wide {
  width: 12%;
}

.keyboard__key--extra-wide {
  width: 36%;
  max-width: 500px;
}

.keyboard__key--activatable::after {
  content: '';
  top: 10px;
  right: 10px;
  position: absolute;
  width: 8px;
  height: 8px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

.keyboard__key--active::after {
  background: #08ff00;
}

.keyboard__key--dark {
  background: rgba(0, 0, 0, 0.25);
}

.keyboard__info {
  padding-left: 5px;
}

.keyboard__popup {
  z-index: 100;
  width: fit-content;
  height: fit-content;
  background-color: #004134;
  position: absolute;
  border-radius: 4px;
  padding: 3px;
}

.keyboard__bottom, .keyboard__top {
  display: flex;
  justify-content: center;
}

.keyboard__popup--invisible {
  visibility: hidden;
}

.keyboard__popup--visible {
  visibility: visible;
}

.keyboard__key--popup {
  width: 50px !important;
  margin: 3px !important;
}

@media screen and (max-width: 700px) {
  .keyboard__key {
    margin: 3px 0 0 0;
  }
}

@media screen and (max-width: 550px) {
  .keyboard__key {
    width: fit-content;
    padding: 0 10px;
  }

  .keyboard__key--extra-wide {
    width: 28%;
  }

  .keyboard__key--activatable::after {
    top: 6px;
    right: 6px;
  }
}

@media screen and (max-width: 420px) {
  .keyboard__key {
    padding: 0 7px;
    font-size: 14px;
  }

  .keyboard__key--activatable::after {
    top: 5px;
    right: 5px;
    width: 6px;
    height: 6px;
  }
}
